
#coin-edit-modal.modal.fade(tabindex="-1", role="dialog", aria-labelledby="myModalLabel", aria-hidden="true")
  .modal-dialog
    .modal-content
      .modal-header
        button.close(id="myModalLabel", type="button", data-dismiss="modal", aria-hidden="true") &times;
        h4.modal-title
          = 'Edit ' + fullName
      .modal-body
        form.form-horizontal(role="form")
          .form-group
            label.col-sm-4.control-label(for="coin-short-name") Abbreviation
            .col-sm-8
              input#coin-short-name.form-control(type="text", value=shortName)
          .form-group
            label.col-sm-4.control-label(for="coin-name") Name
            .col-sm-8
              input#coin-name.form-control(type="text", value=fullName)
          .form-group
            label.col-sm-4.control-label(for="coin-host") Hostname
            .col-sm-8
              input#coin-host.form-control(type="text", value=host)
          .form-group
            label.col-sm-4.control-label(for="coin-port") Port
            .col-sm-8
              input#coin-port.form-control(type="number", value=port)
          .form-group
            label.col-sm-4.control-label(for="coin-rpc-user") RPC User
            .col-sm-8
              input#coin-rpc-user.form-control(type="text", value=rpcUser)
          .form-group
            label.col-sm-4.control-label(for="coin-rpc-password") RPC Password
            .col-sm-8
              input#coin-rpc-password.form-control(type="text", value=rpcPassword)
      .modal-footer
        .col-sm-offset-2.col-sm-10
          button.cell.btn.btn-primary.confirm(type="submit") Confirm
          button.cell.btn.btn-default.float-left(type="button", data-dismiss="modal") Cancel
